/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/

// Colors
$red-color:           #FF3636 !default;
$red-color-dark:      #B71C1C !default;
$orange-color:        #F29105 !default;
$blue-color:          #0076df !default;
$blue-color-dark:     #00369f !default;
$cyan-color:          #2698BA !default;
$light-cyan-color:    lighten($cyan-color, 25%);
$green-color:         #00ab37 !default;
$green-color-lime:    #B7D12A !default;
$green-color-dark:    #009f06 !default;
$green-color-light:   #ddffdd !default;
$green-color-bright:  #11D68B !default;
$purple-color:        #B509AC !default;
$light-purple-color:  lighten($purple-color, 25%);
$pink-color:          #f92080 !default;
$pink-color-light:    #ffdddd !default;
$yellow-color:        #efcc00 !default;

$grey-color:          #828282 !default;
$grey-color-light:    lighten($grey-color, 40%);
$grey-color-dark:     #1C1C1D;
$grey-900:            #212529;

$white-color: #ffffff !default;
$black-color: #000000 !default;

// Theme colors

$code-bg-color-light:     rgba($purple-color, 0.05);
$code-bg-color-dark:      #2c3237 !default;

// Font awesome location
$fa-font-path: "../webfonts";

// own colors 
$own1-red: #5d0e16 !default;
$own1-blue: #242c42 !default;
$own1-yellow: #fadb9f !default;
$own1-brown: #5a3721 !default;
$own1-grey: #929292 !default;

$own2-blue1: #59709c !default;
$own2-blue2: #344771 !default;
$own2-purple: #4c3642 !default;
$own2-grey: #aaaaaa !default;

$own3-dark: #391000 !default;
$own3-brown: #6d260c !default;
$own3-coffee: #c47435 !default;
$own3-yellow: #d6974c !default;
$own3-grey: #dad1be !default;
